In [6]:
str1="i love india "
count=0
for i in str1:
    if i in 'aeiouAEIOU':
        count=count+1
print('the no of vowels is',count)

the no of vowels is 6

In [8]:
#COUNT THE INDUGAL VOWELS IN STRING
name=input("enter the string ")
count=0
str1=name.lower()
print('the vowel a in',str1.count('a'))
print('the vowel e in',str1.count('e'))
print('the vowel i in',str1.count('i'))
print('the vowel o in',str1.count('o'))
print('the vowel u in',str1.count('u'))

enter the string i love india
the vowel a in 1
the vowel e in 1
the vowel i in 3
the vowel o in 1
the vowel u in 0

In [13]:
compny='cbtech technolagy tvm'
print(compny.split())
print(compny.split(" "))
print(compny.split('t'))

['cbtech', 'technolagy', 'tvm']
['cbtech', 'technolagy', 'tvm']
['cb', 'ech ', 'echnolagy ', 'vm']

In [16]:
#strip function
word='    xy z    '
print(word.strip())
print(word.lstrip())
print(word.rstrip())

xy z
xy z
    xy z

In [20]:
x='#####hi iam ## here##'
print(x.strip('#'))
y=x.strip('#')
print(y.replace('#',''))

hi iam ## here
hi iam  here

In [22]:
##replace function
x='replace'
x=x.replace('e','$')
print(x)

r$plac$

In [25]:
x='replace'
x=x.replace('e','$').replace('$','e')
print(x)

replace

In [23]:
x='replace'
x=x.replace('e','$').replace('$','e',1)
print(x)

replac$

In [24]:
x='replace'
x=x.replace('e','$').replace('$','e',2)
print(x)

replace

In [31]:
s1='abc'
s2='xyz'
s='hello world'
s3=':'.join(s)
s4=''.join(reversed(s))
print(s3)
print(s4)

h:e:l:l:o: :w:o:r:l:d
dlrow olleh

In [36]:
str1="Hello World"
print(str1.lower())
print(str1.upper())
print(str1.title())
print(str1.capitalize())
print(str1.swapcase())

hello world
HELLO WORLD
Hello World
Hello world
hELLO wORLD

In [37]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [102]:
num=int(input("enter the number "))
for i in range(1,num):
    for j in range(1,i+1):
        print("*",end=" ")
            
    print()
for k in range(num-1,1,-1):
    for l in range(k,1,-1):
        print("*",end=" ")
    print()

enter the number 5
*
* *
* * *
* * * *
* * *
* *
*

In [40]:
py='programing'
str=''
for i in py:
    for j in i:
        str=str+i
        print(str,end='')
    print()

p
pr
pro
prog
progr
progra
program
programi
programin
programing

In [6]:
py='programing'
str=''
for i in py:
    str+=i
    print(str)
print()
for i in py:
    str+=i
    print(str)

p
pr
pro
prog
progr
progra
program
programi
programin
programing

programingp
programingpr
programingpro
programingprog
programingprogr
programingprogra
programingprogram
programingprogrami
programingprogramin
programingprograming

In [123]:
py='programing'
str=''
for i in py:
    str+=i
    print(str)
print()

p
pr
pro
prog
progr
progra
program
programi
programin
programing

In [5]:
py='programing'
for i in range(len(py)):
    print(py[ :len(py)-i])
for i in range(len(py)):
    print(py[0:i+1])

programing
programin
programi
program
progra
progr
prog
pro
pr
p
p
pr
pro
prog
progr
progra
program
programi
programin
programing

In [125]:
name=input('enter the name ')
if name==name[ : :-1]:
    print('its paliendrom')
else:
    print('it is not')

enter the name amaljith
tis not

In [128]:
name=input('enter the name ')
if name==''.join(reversed(name)):
    print('its paliendrom')
else:
    print('it is not')

enter the name amma
its paliendrom

In [9]:
name=input('enter the name ')
str1=''
for i in name:
    str1=i+str1
if name==str1:
    print('its paliyandrom')
else:
    print('its not')

enter the name amma
its paliyandrom

In [13]:
x='amal jith'
str1=''
for i in x.split(' '):
    str1=i+' '+str1
print(str1)

jith amal

In [9]:
name=input('enter the name ')
name1=name[ : :-1]
print(' '.join((name1)))

enter the name amal
l a m a

In [8]:
for i in range(500):
    if i>100:
        istr=str(i)
        size=len(istr)
        rev=istr[::-1]
if i==rev:
    print(i)

In [27]:
for i in range(1,500):
    a=str(i)
    if len(a)>2 and a==a[::-1]:
        print(a)

101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494

In [7]:
num=123
num1=str(num)
rev=''.join(reversed(num1))
print(num1)

123

In [14]:
name='hi my name is amaljith,contact at amal@gmail.com also amal123@gmail.com'
for i in name.split():
    if '@' in i:
        print(i)

amal@gmail.com
amal123@gmail.com

In [2]:
name='hi my name is amaljith,contact at amal@gmail.com also amal123@gmail.com'
name.split()

['hi',
 'my',
 'name',
 'is',
 'amaljith,contact',
 'at',
 'amal@gmail.com',
 'also',
 'amal123@gmail.com']

In [12]:
import re
name='hi my name is amaljith,contact at amal@gmail.com also amal123@gmail.com'
email=re.findall(r"[a-zA-Z0-9]+@+[a-zA-Z]+\.+[a-zA-Z]+",name)
print(email)

['amal@gmail.com', 'amal123@gmail.com']

re.DOTALL

In [20]:
str1='abc'
str2='xyz'
str3=str1.replace(str1[0:2],str2[0:2])
str4=str2.replace(str2[0:2],str1[0:2])
print(''.join((str3,str4)))

xycabz

In [42]:
n=123
rev=0
while (n!=0):
    d=n%10
    rev=rev*10+d
    n=n//10
print(rev)

321

In [15]:
#
x='amal'
x.isalpha()

True

In [16]:
x='amal jith'
x.isalpha()

False

In [22]:
x='123344555'
x.isalpha()

False

In [21]:
x='123344555'

x.isdigit()

True

In [35]:
x='123 hi HaHAAAA !@#$%^&*()_+'
import string
countdigit=0
countlower=0
countupper=0
countspecial=0
for i in x:
    if i.isdigit():
        countdigit=countdigit+1
    if i.islower():
        countlower=countlower+1
    if i.isupper():
        countupper=countupper+1
    if i in string.punctuation:
        countspecial=countspecial+1
print("digit is ",countdigit,'lower ia ',countlower,'upper is ',countupper,'special is ',countspecial)

digit is  3 lower ia  3 upper is  6 special is  12

In [35]:
import string
x='123 hi aa HAAAA !@#$%^&*()_+'
z=x.split()
y=' '
for i in x.split():
    if i.islower():
        y=y+' '+i.upper()
    if i.isupper():
        y=y+' '+i.lower()
    if i.isdigit():
        y=y+i
    if i in '!@#$%^&*()_+':
        y=y+i
    
print(y)

 123 HI AA haaaa!@#$%^&*()_+

In [17]:
#
p='amaljith'
for i in range(len(p)):
    print(p[:len(p)-i])
for i in range(len(p)):
    print(p[:i+1])

amaljith
amaljit
amalji
amalj
amal
ama
am
a
a
am
ama
amal
amalj
amalji
amaljit
amaljith

In [30]:
for i in range(1,1000):
    a=str(i)
    if len(a)>2 and a==a[::-1]:
        print(a,end=' ')

101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [43]:
name='amal'
if 'a' not in name:
    print(name)

smsl

In [42]:
name='amal'

if 'a' in name:
    print(name)

In [46]:
x=4
if 4 is not x:
    print(x)

<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\ASUS\AppData\Local\Temp\ipykernel_14136\99720575.py:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if 4 is not x:

In [63]:
name='a ht hb jjsk'
for i in name.split():
    if len(i)%2==0:
        print(i)

ht
hb
jjsk