In [4]:
d1=dict()
print(d1)

{}

In [6]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2)

{'name': 'arun', 'age': 35, 'salary': 1000}

In [11]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2['age'])
d2['name']

35

'arun'

In [12]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2.get('name'))

arun

In [13]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
for i in d2:
    print(i)

name
age
salary

In [14]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
for i in d2:
    print(d2[i])

arun
35
1000

In [15]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2)
d2['height']=250
print(d2)

{'name': 'arun', 'age': 35, 'salary': 1000}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 250}

In [16]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2)
d2['height']=250
print(d2)
d2['height']=400
print(d2)

{'name': 'arun', 'age': 35, 'salary': 1000}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 250}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 400}

In [17]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
d2['height']=250
print(d2)
d2.pop('height')
print(d2)

{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 250}
{'name': 'arun', 'age': 35, 'salary': 1000}

In [21]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2)
d2['height']=250
print(d2)
d2['height']=400
print(d2)
d2.popitem()
print(d2)

{'name': 'arun', 'age': 35, 'salary': 1000}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 250}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 400}
{'name': 'arun', 'age': 35, 'salary': 1000}

In [22]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2)
d2['height']=250
print(d2)
d2['height']=400
print(d2)
del d2['salary']
print(d2)

{'name': 'arun', 'age': 35, 'salary': 1000}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 250}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 400}
{'name': 'arun', 'age': 35, 'height': 400}

In [3]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2)
d2['height']=250
print(d2)
print(d2['age'])
d2['height']=400
print(d2)
d2.clear()
print(d2)

{'name': 'arun', 'age': 35, 'salary': 1000}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 250}
35
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 400}
{}

In [24]:
d2={}
d2['name']='arun'
d2['age']=35
d2['salary']=1000
print(d2)
d2['height']=250
print(d2)
d2['height']=400
print(d2)
del d2
print(d2)

{'name': 'arun', 'age': 35, 'salary': 1000}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 250}
{'name': 'arun', 'age': 35, 'salary': 1000, 'height': 400}

NameError: name 'd2' is not defined

In [25]:
d1={1:'a',2:'b',3:'c',4:'d'}
d2={5:'s',6:'f',7:'h',8:'w'}
d1.update(d2)
print(d1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 's', 6: 'f', 7: 'h', 8: 'w'}

In [32]:
d1={1:'a',2:'b',3:'c',4:'d'}
print(d1.items())

dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

In [31]:
d1={1:'a',2:'b',3:'c',4:'d'}
print(d1.keys())

dict_keys([1, 2, 3, 4])

In [33]:
d1={1:'a',2:'b',3:'c',4:'d'}
print(d1.values())

dict_values(['a', 'b', 'c', 'd'])

In [36]:
d1={1:'a',2:'b',3:'c',4:'d'}
print(d1.setdefault(4,'none'))

d

In [37]:
d1={1:'a',2:'b',3:'c',4:'d'}
print(d1.setdefault(7,'none'))

none

In [44]:
d1={1:'a',2:'b',3:'c',4:'d'}
new_dict=d1.copy()
print(new_dict)
d1[1]='w'
print(new_dict)
print(d1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'w', 2: 'b', 3: 'c', 4: 'd'}

In [45]:
d1={1:'a',2:'b',3:'c',4:'d'}
print(len(d1))

4

In [46]:
key=[10,20,30,40]
print(dict.fromkeys(key,10))

{10: 10, 20: 10, 30: 10, 40: 10}

In [47]:
key=[10,20,30,40]
print(dict.fromkeys(key,[1,2,3,4]))

{10: [1, 2, 3, 4], 20: [1, 2, 3, 4], 30: [1, 2, 3, 4], 40: [1, 2, 3, 4]}

In [48]:
d1={1:'a',2:'b',3:'c',4:'d',5:'e',6:'f'}
3 in d1

True

In [49]:
d1={1:'a',2:'b',3:'c',4:'d',5:'e',6:'f'}
12 in d1

False

In [50]:
d1={1:'a',2:'b',3:'c',4:'d',5:'e',6:'f'}
'c' in d1

False

In [51]:
d1={1:'a',2:'b',3:'c',4:'d',5:'e',6:'f'}
'c' in d1.values()

True

In [59]:
key=['ten','twenty','thirty']
values=[10,20,30]
result={}
for i,j in zip(key,values):
    result=i,j
    print(result)

('ten', 10)
('twenty', 20)
('thirty', 30)

In [60]:
key=['ten','twenty','thirty']
values=[10,20,30]
dict(zip(key,values))

{'ten': 10, 'twenty': 20, 'thirty': 30}

In [62]:
d1={'ten':10,'twenty':20,'thirty':30}
d2={'thirty':30,'forty':40,'fifty':50}
d1.update(d2)
print(d1)

{'ten': 10, 'twenty': 20, 'thirty': 30, 'forty': 40, 'fifty': 50}

In [2]:
d1={'ten':10,'twenty':20,'thirty':30}
d2={'thirty':30,'forty':40,'fifty':50}
newdict={**d1,**d2}
print(newdict)

{'ten': 10, 'twenty': 20, 'thirty': 30, 'forty': 40, 'fifty': 50}

In [4]:
stud={'dept':{'rollno':{'name':'abc','subject':{'physics':30,'history':40 }}}}
print(stud['dept'])
print(stud['dept']['rollno'])
print(stud['dept']['rollno']['subject'])
print(stud['dept']['rollno']['subject']['history'])

{'rollno': {'name': 'abc', 'subject': {'physics': 30, 'history': 40}}}
{'name': 'abc', 'subject': {'physics': 30, 'history': 40}}
{'physics': 30, 'history': 40}
40

In [5]:
emp={'name':'amal','age':23,'salary':200,'city':'tvm'}
key={'name','salary'}
emp1={i:emp[i] for i in key}
print(emp1)

{'salary': 200, 'name': 'amal'}

In [16]:
emp={'name':'amal','age':23,'salary':200,'city':'tvm'}
emp['city']='ekm'
print(emp)

{'name': 'amal', 'age': 23, 'salary': 200, 'city': 'ekm'}

In [6]:
emp={'name':'amal','age':23,'salary':200,'city':'tvm'}
emp['location']=emp.pop('city')
print(emp)

{'name': 'amal', 'age': 23, 'salary': 200, 'location': 'tvm'}

In [7]:
num=int(input('enter the number '))
num1=0
sqr=0
for i in range(1,num+1):
    if i>0:
        num1=num1+i
        sqr=sqr+(i*i)
print(dict(zip(num1,sqr)))

enter the number 5

TypeError: 'int' object is not iterable

In [6]:
num=int(input('enter the number '))
d=dict()
for i in range(1,num+1):
    d[i]=i*i
print(d)

enter the number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [11]:
num={ i:i*i for i in range(1,16) }
print(num)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [14]:
nm={'x':200,'y':555,'r':666}
print(max(nm.values()))

666

In [15]:
nm={'x':200,'y':555,'r':666}
print(min(nm.keys()))

r

In [11]:
emp={'emp1':{'name1':'arun','salary1':1000},'emp2':{'name2':'abc','salary2':2000},'emp3':{'name3':'xyz','salary3':3000}}
emp['emp3']['salary3']=5000
print(emp)

{'emp1': {'name1': 'arun', 'salary1': 1000}, 'emp2': {'name2': 'abc', 'salary2': 2000}, 'emp3': {'name3': 'xyz', 'salary3': 5000}}

In [14]:
name=input('enter the name ')
d={}
for i in name:
    d[i]=name.count(i)
print(d)

enter the name amaljith
{'a': 2, 'm': 1, 'l': 1, 'j': 1, 'i': 1, 't': 1, 'h': 1}

In [17]:
import random
num={i:random.randint(1,5) for i in range(10)}
print(num)

{0: 1, 1: 3, 2: 1, 3: 4, 4: 2, 5: 4, 6: 4, 7: 1, 8: 5, 9: 5}

In [2]:
name={'kiran':89,'hari':90,'ram':75,'swatha':99}
k=sorted(name.keys())
s=list()
for i in k:
    s.append(name[i])
print(dict(zip(k,s)))

{'hari': 90, 'kiran': 89, 'ram': 75, 'swatha': 99}
['hari', 'kiran', 'ram', 'swatha']

In [40]:
print(k)

['hari', 'kiran', 'ram', 'swatha']

In [26]:
name={'kiran':89,'hari':90,'ram':75,'swatha':99}
ne=name.sort(key=lambda x:x[1])
print(ne)

AttributeError: 'dict' object has no attribute 'sort'