In [4]:
def factroil(a):
    fact=1
    for i in range(1,a+1):
        fact=fact*i
    print(fact)
    
    
    
num1=int(input('enter the number '))
factroil(num1)

enter the number 5
120

In [3]:
def factroil(a):
    if a==1:
        return 1
    else:
        return a*factroil(a-1)



num=int(input('enter the number '))
print(factroil(num))

enter the number 5
120

In [6]:
##lambda function case1
result=(lambda x:x**2)
print(result(5))

25

In [7]:
#case2
result=(lambda x:x**2)(5)
print(result)

25

In [8]:
#case3
print((lambda x:x**2)(5))

25

In [17]:
a='abcd'
b='prrs'
for i in range(len(a)):
        print(a[i],b[i])

a p
b r
c r
d s

In [18]:
#using zip function
a='abcd'
b='prrs'
for i,j in zip(a,b):
    print(i,j)

a p
b r
c r
d s

In [25]:
def sqr(n):
    return n**n

num=[1,2,3,4,5,6,7,8,9]

print(list(map(sqr,num)))

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

In [21]:
num=[1,2,3,4,5,6,7,8,9]
print(list(map(float,num)))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [22]:
str1=['hello','fff','ddd','hwggs']
print(list(map(len,str1)))

[5, 3, 3, 5]

In [23]:
l1=[1,2,3,4,5,6,7]
l2=[1,2,3,4,5,6,7]
list(map(pow,l1,l2))

[1, 4, 27, 256, 3125, 46656, 823543]

In [3]:
def multable(n):
    if n==0:
        return
    for i in range(n+1):
        
         print(n,'*',i,'=',n*i)
            
            
multable(12)

12 * 0 = 0
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [8]:
def multable(n,i=1):
    if i>10:
        return
    print(n,'*',i,'=',n*i)
    
    multable(n,i+1)
            
            
multable(12)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [11]:
z=-10
abs(z)

10

In [12]:
round(3.2547)

3

In [13]:
round(3.2546,3)

3.255

In [16]:
import sys
name=sys.stdin.readline(2)
print(name)

In [19]:
def leap_year(y):
    if (2000%4==0 and %400!==0) or (2000%4==0 and %100=0 and %400==0):
        print('false')
    else:
        print('true')
        
year=int(input('enter the year '))
leap_year(year)

SyntaxError: invalid syntax (3724638470.py, line 2)

In [ ]:
def credit_num(c):
    c=str(n)
    print(n[:8]+'x'*6)



c_num=int(input('enter the creditbcard number '))
credit_num(c_num)

In [39]:
num=input('enetr the number ')
length=len(num)
star=(length-8)*'x'
print(num[:-4]+star)

enetr the number 123456789987
12345678xxxx

In [ ]:
def maskify(cc):
    str = ''
    for char in cc[:-4]:
        str += '#'
    str += cc[-4:]
    return str
print(maskify(1234567890987654321))

In [7]:
num=int(input('enter the number '))
for i in range(num):
    for j in range(i):
        print(j, end=' ')
    print()

enter the number 5

0
0 1
0 1 2
0 1 2 3

In [8]:
num=int(input('enter the number '))
for i in range(num):
    for j in range(i):
        print(i, end=' ')
    print()

enter the number 5

1
2 2
3 3 3
4 4 4 4

In [11]:
num=int(input('enter the number '))
for i in range(num):
    print(i, end=' ')
print()

enter the number 5
0 1 2 3 4

In [14]:
num=int(input('enter the number '))
for i in range(num,0,-1):
    for j in range(i):
        print(i,end=' ')
    print()

enter the number 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [15]:
num=int(input('enter the number '))
for i in range(num,0,-1):
    for j in range(i):
        print(j,end=' ')
    print()

enter the number 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [24]:
num=int(input('enter the number '))
for i in range(num,0,-1):
    for j in range(i):
        print(i,end=' ')
    print()

enter the number 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [39]:
num=int(input('enter the number '))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=' ')
    for k in range(0,i+1):
        print('#',end=' ')
    print()

enter the number 10
         #
        # #
       # # #
      # # # #
     # # # # #
    # # # # # #
   # # # # # # #
  # # # # # # # #
 # # # # # # # # #
# # # # # # # # # #

In [38]:
num=int(input('enter the number '))
for i in range(0,num):
     for k in range(0,i+1):
        print('#',end=' ')

enter the number 5
# # # # # # # # # # # # # # #

In [54]:
num=int(input('enter the number '))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=' ')
    for k in range(0,i+1):
        print('#',end=' ')
    print()

enter the number 5
    #
   # #
  # # #
 # # # #
# # # # #

In [49]:
num=int(input('enter the number '))
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end=' ')
    for k in range(0,i):
        print('#',end=' ')
    print()

enter the number 5
# # # # #
 # # # #
  # # #
   # #
    #

In [52]:
num=int(input('enter the number '))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=' ')
    for k in range(0,i+1):
        print('#',end=' ')
    print()
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end=' ')
    for k in range(0,i):
        print('#',end=' ')
    print()

enter the number 5
    #
   # #
  # # #
 # # # #
# # # # #
# # # # #
 # # # #
  # # #
   # #
    #

In [56]:
num=int(input('enter the number '))
for i in range(0,num):
    for j in range(i):
        print('*',end=' ')
    print()
for i in range(num,0,-1):
    for k in range(i):
        print('*',end=' ')
    print()

enter the number 5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [57]:
name=input("enter the name ")
dict={}
for i in name:
    keys=dict.keys()
    if i in keys:
        dict[i]+=1
    else:
        dict[i]=1
print(dict)

enter the name google
{'g': 2, 'o': 2, 'l': 1, 'e': 1}

In [72]:
name=input('enter the name ')
for i in name:
    if i.isidentifier():
        print(i)

enter the name amal
a
m
a
l