In [2]:
def substraction(a,b,c):
    return a-b*c
print(substraction(10,5,3))

-5

In [3]:
def substraction(a,b,c):
    return a-b*c
print(substraction(b=10,a=3,c=5))

-47

In [4]:
def substraction(a,b,c=1):
    return a-b*c
print(substraction(10,5))

5

In [5]:
def substraction(a,b,c=1):
    return a-b*c
print(substraction(10,5,3))

-5

In [7]:
def name(*args):
    print('hello',args)
name('arun','jagan','amal','deysh')

hello ('arun', 'jagan', 'amal', 'deysh')

In [9]:
def name(*args):
    for i in args:
        print('hi',i)
name('arun','jagan','amal','deysh')

hi arun
hi jagan
hi amal
hi deysh

In [10]:
b=int(input('enter the breadth '))
h=int(input('enetr the height '))
area(b,h)
def area(b,h):
    print(0.5*b*h)

enter the breadth 5
enetr the height 6

NameError: name 'area' is not defined

In [11]:
def area(b,h):
    print(0.5*b*h)
b=int(input('enter the breadth '))
h=int(input('enetr the height '))
area(b,h)

enter the breadth 5
enetr the height 6
15.0

In [15]:
def bmi(w,h):
    print(w/h*h)
w=float(input('enter the weight '))
h=float(input('enter the height '))
bmi(w,h)

enter the weight 5
enter the height 6
5.0

In [22]:
def wage(w_hrs):
    return w_hrs*25
def wage_bouns(w_hrs):
    return wage(w_hrs)+50
    
print(wage(8))
print(wage_bouns(8))

200
250

In [24]:
def student_discount(prize):
    std_dis=prize-(prize*10)/100
    return std_dis
def additional_discount(new_prize):
    add_dis=new_prize-(new_prize*5)/100
    return add_dis
selling_prize=100
print(additional_discount(student_discount(selling_prize)))

85.5

In [1]:
def adition(a,b):
    print('reselt is ',a+b)
def substracion(a,b):
    print('reselt is ',a-b)
def multiplication(a,b):
    print('reselt is ',a*b)
def division(a,b):
    print('reselt is ',a/b)
    
num1=int(input('enter the first number '))
num2=int(input('enter the second number'))
operation=int(input('1 for adition \n2 for substraction \n3 for multiplication \n4 for division '))
if operation==1:
    adition(num1,num2)
elif operation==2:
    substraction(num1,num2)
elif operation==3:
    multiplication(num1,num2)
elif operation==4:
    division(num1,num2)
else:
    print('The operation is wrong')

enter the first number 5
enter the second number5
1 for adition
2 for substraction
3 for multiplication
4 for division5
The operation is wrong

In [4]:
n = int(input())
if (n%2==0):
    if (n<=5):
        print('Not Weird')
    if (n<=20):
        print('Weired')
    else:
        print('Not Weired')
elif (n%2==1):
        print('Werid')

3
Werid

In [1]:
x=5,6,54,85,96,750
print(max(x))

750

In [8]:
name=input('enter the syring ')
res=name[0]
length=len(name)
md=int(length/2)
res=res+name[md]
res=res+name[length-1]
print(res)

enter the syring james
jms

In [10]:
def string_middile(name):
    res=name[0]
    length=len(name)
    md=int(length/2)
    res=res+name[md]
    res=res+name[-1]
    print(res)
name=input('enter the string ')
string_middile(name)

enter the string amaljith
ajh

In [16]:
def middile_string_name(name):
    #length=len(name)
    res=int(len(name)/2)
    print(name[res-1:res+2])
    


name=input('enter the string ')
middile_string_name(name)

enter the string amaljith
lji

In [20]:
def print_number():
    #for i in range(4,41,2):
    print(list(range(4,41,2)))
        
print_number()

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [22]:
x=[45,45,23,34,56,789,98]
print(max(x))

789

In [ ]:
def table(n,i):
    print(n*i)
    i=+1
    if i<=10:
        table(n,i)
        
table(12,1)

In [7]:
def mul_table(num1):
    for i in range(1,11):
        print(i,'*',num1,'=',i*num1)

num1=int(input('enter the number '))
mul_table(num1)

enter the number 12
1 * 12 = 12
2 * 12 = 24
3 * 12 = 36
4 * 12 = 48
5 * 12 = 60
6 * 12 = 72
7 * 12 = 84
8 * 12 = 96
9 * 12 = 108
10 * 12 = 120

In [10]:
def vote_aligible(age,name):
    if age>18:
        print(name,'is eligible for voting ')
    else:
        print(name,'is not eligibile for voting ')
        

name=input('enter the name ')
age=int(input('enter the age '))
vote_aligible(age,name)

enter the name amaljith
enter the age 4
amaljith is not eligibile for voting

In [13]:
for i in range(100,200):
    num=str(i)
    sum=0
    if ''.join(reversed(num)):
        sum=sum+num
    if sum%2==0:
        print(sum)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
for i in range(100,200):
    num=i
    sum=0
    if num!=0:
        digit=num%10
        sum=sum+digit
        num=num//10
    if (sum%2==0):
        print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

In [4]:
import math
num1=int(input('ener the number '))
num2=int(input())
reselt=math.gcd(num1,num2)
print(reselt)

ener the number 60
48
12

In [1]:
def print_no(n):
    if n==0:
        return
    print(n)
    n=n-1
    print_no(n)
print_no(8)

8
7
6
5
4
3
2
1

In [2]:
def str1(name):
    if len(name)==0:
        return
    print(name)
    name=name[:len(name)-1]
    str1(name)
str1('amaljith')

str1('jagan')
str1('dayesh')

amaljith
amaljit
amalji
amalj
amal
ama
am
a
jagan
jaga
jag
ja
j
dayesh
dayes
daye
day
da
d

In [4]:
numbers=[]
num=int(input('how many numbers '))
for i in range(num):
    x=int(input('enter the number '))
    numbers.append(x)
print('reselt is ',sum(numbers))

how many numbers 3
enter the number 2
enter the number 3
enter the number 5
reselt is  10

In [7]:
num1=int(input())
num2=int(input())
print(sum(num1,num2))

5
5

TypeError: 'int' object is not iterable

In [8]:
a=(1,2,3,4,5,6,7,8,9)
print(sum(a))

45