In [6]:
def discount(p):
    return p-((p*10)/100)
prize=[100,200,150,250,300]
print(list(map(discount,prize)))

[90.0, 180.0, 135.0, 225.0, 270.0]

In [42]:
empt=[]
empt=2,3,3
print(empt)

(2, 3, 3)

In [9]:
list1=[1,2,3,5,6,4]
print(list1)

[1, 2, 3, 5, 6, 4]

In [11]:
list2=list('amal')
print(list2)

['a', 'm', 'a', 'l']

In [12]:
list3=list([10,20,30,50])
print(list3)

[10, 20, 30, 50]

In [13]:
nez=['amal',23,['jith',30,45]]
print(nez[0])
print(nez[2][0])
print(nez[2][2])

amal
jith
45

In [14]:
l3=['asd',100,3.45]
print(l3)

['asd', 100, 3.45]

In [39]:
l1=['arun']
l2=[1,2,3]
print(l1,l2)

['arun'] [1, 2, 3]

In [15]:
l4=['asd','dfg','fgh']
print(l4)

['asd', 'dfg', 'fgh']

In [17]:
birds=['cuckoo','crow','parrout','eagle','kingisher']
print(birds[4])
print(birds[-1])

kingisher
kingisher

In [19]:
birds=['cuckoo','crow','parrout','eagle','kingisher']
print(birds[1:4])
print(birds[2:4])
print(birds[:3])
print(birds[2:])
print(birds[:])

['crow', 'parrout', 'eagle']
['parrout', 'eagle']
['cuckoo', 'crow', 'parrout']
['parrout', 'eagle', 'kingisher']
['cuckoo', 'crow', 'parrout', 'eagle', 'kingisher']

In [22]:
a=[1,2,3]
b=[4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [23]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
a=['a','b','c','d']
'c' in a

True

In [25]:
a=['a','b','c','d']
'c'not in a

False

In [27]:
t1=[10,20,30]
t1.append(40)
print(t1)

[10, 20, 30, 40]

In [29]:
empty=[]
empty.append(10)
print(empty)

[10]

In [34]:
t1=[10,20,30]
t2=[40,50]
t1.extend(t2)
print(t1)

[10, 20, 30, 40, 50]

In [35]:
t1=[10,20,30]
t1.insert(1,15)
print(t1)

[10, 15, 20, 30]

In [36]:
a=[1,2,3,4,5,6]
a.remove(4)
print(a)

[1, 2, 3, 5, 6]

In [41]:
a=[1,2,3,4,5,6]
a.pop(0)
print(a)

[2, 3, 4, 5, 6]

In [38]:
a=[1,2,3,4,5,6]
a.clear()
print(a)

[]

In [42]:
a=[1,2,3,4,5,6]
del a[2]
print(a)

[1, 2, 4, 5, 6]

In [43]:
a=[1,2,3,4,5,6]
del a[3:5]
print(a)

[1, 2, 3, 6]

In [46]:
a=[1,2,3,4,5,6]
del a[:]
print(a)

[]

In [48]:
a=[1,2,3,4,5,6]
a[:]=[]
print(a)

[]

In [47]:
a=[1,2,3,4,5,6]
del a
print(a)

NameError: name 'a' is not defined

In [5]:
d=[1,3,4,5,6]
d.sort(reverse=True)
print(d)

[6, 5, 4, 3, 1]

In [11]:
d=[1,2,3,4,5]
sorted(d,reverse=True)
print(d)

[1, 2, 3, 4, 5]

In [12]:
d=[1,2,3,4,5]
d.reverse()
print(d)

[5, 4, 3, 2, 1]

In [17]:
l1=list('apple')
print(l1.count('p'))

2

In [18]:
l1=list('apple')
print(len(l1))

5

In [19]:
l1=list('apple')
print(max(l1))

p

In [20]:
l1=list('apple')
print(min(l1))

a

In [21]:
s=[1,2,3,4,5]
print(sum(s))

15

In [25]:
str1=input('enter the string ')
list(map(int,str1.split()))

enter the string 5 55 554

[5, 55, 554]

In [30]:
l1=[1,2,5,55,6,33]
for i in l1:
    print(i)

1
2
5
55
6
33

In [32]:
a=[1,2,3,4,5]
b=a
a is b

True

In [33]:
a=[1,2,3,4,5]
b=a
a==b

True

In [34]:
a=[1,2,3,4,5]
b=a
a is not b

False

In [35]:
a=[1,2,3,4,5]
a is not b

True

In [36]:
def del_hed(t):
    del t[0]
    print(t)


l1=[1,2,3,4,5,6,6,7,7,8,8]
del_hed(l1)

[2, 3, 4, 5, 6, 6, 7, 7, 8, 8]

In [3]:
name=input('enter the name ')
for i in name:
    print(i,name.count(i))

enter the name google
g 2
o 2
o 2
g 2
l 1
e 1

In [46]:
str1='python'
print(list(map([],str1)))

TypeError: 'list' object is not callable

In [49]:
name=input('enter the name ')
dict={}
for i in name:
    dict[i]=name.count(i)
print(dict)

enter the name amaljith
{'a': 2, 'm': 1, 'l': 1, 'j': 1, 'i': 1, 't': 1, 'h': 1}

In [58]:
name=input('enter the name ')
d={}
for i in name:
    d[i]=name.count(i)
print(d)

enter the name amljith
{'a': 1, 'm': 1, 'l': 1, 'j': 1, 'i': 1, 't': 1, 'h': 1}

In [63]:
name=input('enter the name ')
my_counter={c: name.count(c) for c in set(name)}
print(my_counter)

enter the name amaljith
{'t': 1, 'a': 2, 'm': 1, 'l': 1, 'h': 1, 'i': 1, 'j': 1}

In [4]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]
z = zip(name, animal, age)
z #=> <zip at 0x111081e48>
for name,animal,age in z:
    print("%s the %s is %s" % (name, animal, age))

Snowball the Cat is 1
Chewy the Dog is 2
Bubbles the Fish is 2
Gruff the Goat is 6

In [6]:
val=[23,44,56,67]
print('prize is ',sum(val))

prize is  190

In [7]:
val=[12,23,36,5]
mul=1
for i in val:
    mul=i*mul
print(mul)

49680

In [10]:
val=[20,30,55,88,96,452]
print(max(val))

452

In [11]:
val=[20,30,88,96,452]
print(min(val))

20

In [18]:
sample=['abc','xyz','aba',1233]
c=0
for i in sample:
    if len(i)>2 and i[0]==i[-1]:
        print(i)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [22]:
sam= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

AttributeError: 'list' object has no attribute 'split'

In [26]:
dp=[10,20,30,20,80,10,30,40]
c=0
for i in dp:
    if i==dp.count(dp):
        print(i)

In [29]:
a = [10,20,30,20,10,50,60,40,80,50,40]
c = []
for i in a:
    if i not in c:
        c.append(i)
print(c)

[10, 20, 30, 50, 60, 40, 80]

In [31]:
dp=[10,20,30,20,80,10,30,40]
f=[]
for i in dp:
    if i not in f:
        f.append(i)
print(f)

[10, 20, 30, 80, 40]