In [2]:
import re
pattern='eggs'
if re.match(pattern,'eggseggseggs'):
    print('match found')
else:
    print('match not found')

match found

In [3]:
import re
pattern='eggs'
if re.match(pattern,'eggseggsbacon'):
    print('match found')
else:
    print('match not found')

match found

In [4]:
import re
pattern='eggs'
if re.match(pattern,'baconeggseggseggs'):
    print('match found')
else:
    print('match not found')

match not found

In [6]:
import re
pattern='eggs'
if re.search(pattern,'baconeeggseggseggs'):
    print('match found')
else:
    print('match not found')

match found

In [7]:
import re
text=input('enter the string ')
x= re.search('\s',text)
print('find the space in ',x.start())

enter the string the sun in the spain
find the space in  3

In [8]:
import re
text=input('enter the string ')
x= re.search('\s',text)
print('find the space in ',x.span())

enter the string the sun in the spain
find the space in  (3, 4)

In [20]:
import re
text=r'The sun in the Spain'
x= re.search(r'\bS\w+',text)
print('find the word begin  in ',x.group())

find the word begin  in  Spain

In [23]:
import re
text='The Rain in the Spain'
pattern=r'ai'
print(re.findall(pattern,text))

['ai', 'ai']

In [25]:
import re
text='The Rain in the Spain'
print(re.sub('\s','9',text))

The9Rain9in9the9Spain

In [26]:
import re
text='The Rain in the Spain'
print(re.sub('\s','9',text,2))

The9Rain9in the Spain

In [27]:
import re
text='I am Arun ,my name is Arun'
print(re.sub('Arun','DEV',text))

I am DEV ,my name is DEV