In [11]:
l1=[10,20,30,40,50]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i*i)
    
print(l2)

[100, 400, 900, 1600, 2500]

In [22]:
l1=[1,2,3,4,5,6]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i*i)
print(l2)

[4, 16, 36]

In [28]:
names=['abc','xyz','pwr']
for i in names:
    print(i[0],end='')

axp

In [17]:
l1=[]
l2=[]
reselt=[]
for i in range(1,50):
    if i%2==0:
        l1.append(i)
print(l1)
for i in range(50,100):
    if i%2==1:
        l2.append(i)
print(l2)
for i,j in l1,l2:
    print(reselt.append(i*j))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

ValueError: too many values to unpack (expected 2)

In [4]:
l1=range(1,50)
l2=range(50,100)
result=[]
for i,j in zip(l1[::2],l2[::2]):
    result.append(i*j)
print(result)

[50, 156, 270, 392, 522, 660, 806, 960, 1122, 1292, 1470, 1656, 1850, 2052, 2262, 2480, 2706, 2940, 3182, 3432, 3690, 3956, 4230, 4512, 4802]

In [63]:
l1=[1,2,2,3,4,4,5,6,5]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6]

In [73]:
num1=input().split()
print(list(map(int,num1)))

1 2 3 4
[1, 2, 3, 4]

In [6]:
l1=[5,0,55,4,25,2]
temp=l1[0]
for i in l1:
    if i>temp:
        temp=i
print(temp)

55

In [9]:
l1=input().split()
temp=l1[0]
for i in l1:
    if i>temp:
        temp=i
print(temp)

2 5 4 5 510
510

In [10]:
num1=input().split()
max(map(int,num1))

5 10 20 55

55

In [3]:
num1=input().split()
for i in num1:
    print(list(i))

2 5 4 6
['2']
['5']
['4']
['6']

In [4]:
lst=['abc','xyz','aba','1231']
for i in lst:
    if len(i)>2 and i[0]==i[-1]:
        print(lst.count(i))

1
1

In [19]:
lst=['abc','xyz','aba','1231']
count=0
for i in lst:
    if len(i)>2 and i[0]==i[-1]:
        count=count+1
print(count)

2

In [24]:
lst=['abc','xyz','aba','1231','asd']
count=0
for i in lst:
    if len(i)>2 and (i[::]==i[::-1]):
        count=count+1
print(count)

1

l1=[('dinu',300),('cinu',400),('binu',100),('anu',200)]
l1.sort(65)
print(l1)

In [3]:
l1=[('dinu',300),('cinu',400),('binu',100),('anu',200)]
l2=sorted(l1)
print(l2)

[('anu', 200), ('binu', 100), ('cinu', 400), ('dinu', 300)]

In [16]:
l1=[('dinu',300),('cinu',400),('binu',100),('anu',200)]
l1.sort(key=lambda x:x[1])
print(l1)

[('binu', 100), ('anu', 200), ('dinu', 300), ('cinu', 400)]

In [ ]:
l1=[('dinu',300),('cinu',400),('binu',100),('anu',200)]
l2=sorted(l1,key= )
print(l2)

In [6]:
l1=[1,2,3,4,5]
l2=[]
for i in l1:
    l2.append(i**2)
print(l2)

[1, 4, 9, 16, 25]

In [8]:
l1=[1,2,3,4,5]
l2=[i**2 for i in l1]
print(l2)

[1, 4, 9, 16, 25]

In [10]:
l1=[1,2,3,4,5]
l2=[i**2 for i in l1 if i%2==0]
print(l2)

[4, 16]

In [16]:
str1='123abc@$%&*!'
str2=[i for i in str1 if i.isdigit()]
print(str2)

['1', '2', '3']

In [6]:
l1=range(1,50)
l2=range(50,100)
result=[i*j for i,j in zip(l1[::2],l2[::2]) ]
print(result)

[50, 156, 270, 392, 522, 660, 806, 960, 1122, 1292, 1470, 1656, 1850, 2052, 2262, 2480, 2706, 2940, 3182, 3432, 3690, 3956, 4230, 4512, 4802]

In [12]:
x=[5,6,7,8]
c=[1,2,3,4]
a,b=3,2
y=[(a*i*i)+(b*i)+(j) for i,j in  zip(x[::],c[::])]
print(y)

[86, 122, 164, 212]

In [19]:
l1=[1,2,3,4,5,6]
sum([i for i in l1 if i%2==0])

12

In [25]:
odd=[]
evn=[]
[evn.append(i) if i%2==0 else odd.append(i) for i in range(100,150)]
print(odd)
print(evn)

[101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149]
[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148]

### tuple

In [27]:
#tuple 
a=[1]
type(a)

list

In [28]:
a=(1)
type(a)

int

In [29]:
a=(1,)
type(a)

tuple

In [30]:
a=1,2,3,4,5
print(a)

(1, 2, 3, 4, 5)

In [31]:
a=(1,2,3,4)
a.sort()
print(a)

AttributeError: 'tuple' object has no attribute 'sort'

In [37]:
a=(2,3,4,6,7)
a[0]==1
print(a)

(2, 3, 4, 6, 7)

In [38]:
a=1,2,3,4,5
a.reverse()
print(a)

AttributeError: 'tuple' object has no attribute 'reverse'

In [40]:
t=1,2,3,[100,200]
print(t[3][0])

100
(1, 2, 3, [100, 200])

In [42]:
a=10,20,30
num1,num2,num3=a
print(num1)
print(num2)
print(num3)

10
20
30

In [43]:
a=1,2,3
f,_,g=a
print(f)
print(_)

1
2

In [45]:
t=('amal',23,1000,'tvm','kerala')
name=t[0]
state=t[-1]
print(name)
print(state)

amal
kerala

In [46]:
t=('amal',23,1000,'tvm','kerala')
name,*_,state=t
print(name)
print(state)

amal
kerala

In [50]:
t=('amal',23,1000,'tvm','kerala')
name,*_,city,state=t
print(name)
print(city)
print(state)
print(*_)

amal
tvm
kerala
23 1000

In [26]:
emp1=('amal',"ap",10000)
emp2=('jagan','bp',20000)
emp3=('deyash','cp',30000)
data=[emp1,emp2,emp3]
salary=0
for i in data:
    salary=salary+i[2]
print(salary)

60000